<div class="doughnutbox" id="first">
	<div id="logo">
		keyhole doughnuts
	</div>
	<div id="background">
	</div>
</div>
<span id="about"></span>

<div class="container">
	<h1>About Us</h1>
	<hr class="small">
	<hr class="large">

    <div class="section">
    	<div class="row">
    		<div class="col s12">
    			<div class="card blue lighten-2">
    				<div class="card-content white-text">
    					<span class="card-title">Who We Are</span>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ipsum suscipit laborum eius, earum doloremque ullam dicta nobis modi expedita consectetur fugit deserunt, voluptas aut fuga hic ad numquam deleniti.</p>
					</div>
					<!-- <div class="card-action">
						<a href="#" class="pink-text text-lighten-4">Link</a>
					</div> -->
				</div>
			</div>
    	</div>	

    	<div class="row">
    		<div class="col s12 m6">
    			<div class="card blue lighten-2">
    				<div class="card-content white-text">
    					<span class="card-title">Keyhole Flavor Sheet</span>
    			<!-- 		<p>I am a very simple card. I am good at containing small bits of information.
    						I am convenient because I require little markup to use effectively.</p> -->
					</div>
					<div class="card-action">
						<a href="/flavorsheet_dec15.pdf" target="_blank" class="white-text">Link</a>
					</div>
				</div>
			</div>

			<div class="col s12 m6">
    			<div class="card blue lighten-2">
    				<div class="card-content white-text">
    					<span class="card-title">Keyhole Pricing Sheet</span>
    					<!-- <p>I am a very simple card. I am good at containing small bits of information.
    						I am convenient because I require little markup to use effectively.</p> -->
					</div>
					<div class="card-action">
						<a href="/pricingsheet_dec15.pdf" target="_blank" class="white-text">This is a link</a>
					</div>
				</div>
			</div>

		</div>
	</div>

    <hr class="large">
    <hr class="small">
</div>

<div class="doughnutbox" id="second"></div>

<span id="gallery"></span>
<div class="container">
	<h1>Our Pride and Joy</h1>
		<hr class="small">
		<hr class="large">
	<br>
	<div>
		<% @doughnuts.each do |doughnut| %>
			<img class="materialboxed doughnut" data-caption="<%= doughnut.title %>" width="100%" src="<%= doughnut.image.url %>">
		<% end %>
	</div>
	<br>
	<br>
	<hr class="large">
	<hr class="small">
</div>
<div class="clearfix"></div>
<div class="doughnutbox" id="third"></div>
<br>

<span id="blog"></span>

<div class="clearfix">
 <div class="container">
 	<h1>Doughnut Blog</h1>
	<hr class="small">
	<hr class="large">
    <div class="col s12 m6">
    	<% @posts.each do |post| %>
      <div class="card">
        <div class="card-content">
          <span class="card-title"><%= link_to post.title, post%></span>
          <p><%= post.created_at.strftime('%A, %B %d') %></p>          
        </div>
      </div>
      <% end %>
    </div>
    <hr class="large">
	<hr class="small">
  </div>
</div>

<div class="doughnutbox" id="fourth"></div>
<br>

<span id="contact"></span>

<div>
	<div class="container">
		<h1>CONTACT US</h1>
		<hr class="small">
		<hr class="large">
		<div id="email">
			<%= form_tag("/mail", method: "post") do %>
				<%= text_field_tag(:subject,'',:placeholder => "What's the subject of your email?") %>
				<%= text_field_tag(:name,'', :placeholder => "What's your name?") %>
				<%= text_field_tag(:text,'', :placeholder => "Write your text here") %>
				<%= text_field_tag(:email,'', :placeholder => "What's the best email to reach you at? ") %>
				<%= submit_tag("Doughnut be shy, email us!") %>
			<% end %>
		</div>
	</div>
</div>
<br>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us11.list-manage.com","uuid":"d84aea2aadee5dd6e2ec1a0d4","lid":"9f21e811f2"}) })</script>