<div class="container show">
	<h1 class="center"><strong>Name:</strong> <%= @doughnut.title %></h1>
	<div class="center">
	<%= link_to "Edit", edit_doughnut_path(@doughnut) %>
	<%= link_to "Delete", doughnut_path(@doughnut), method: :delete, data: {confirm: "Are you sure you want to delete this doughnut?"} %>
	</div>
	<div class="center">
		<p><strong>Description:</strong><%= markdown @doughnut.description %></p>
		<p class="date"><strong>Created:</strong><%= @doughnut.created_at.strftime('%A, %B %d') %></p>
	</div>
	<div class="center">
		<%= image_tag @doughnut.image.url(:large) %>
	</div>
	<br>
	<br>
</div>