<!DOCTYPE html>
<html>
<head>
  <title>Keyhole</title>
  <%= favicon_link_tag "keyholeicon.png" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<nav>
			<div>
				<ul>
				<li><a href="<%= root_path %>#about">About</a></li>
				<li><a href="<%= root_path %>#gallery">Doughnuts</a></li>
				<li><a href="<%= root_path %>"><%= image_tag 'keyholelogo.jpeg', :id => "keyholelogo" %></a></li>
				<li><a href="<%= root_path %>#blog">Blog</a></li>
				<li><a href="<%= root_path %>#contact">Contact</a></li>
			</ul>
			</div>
		</nav>
	</header>
	<div id="navblock"></div>
 	<% if notice %> 
	 	<p class="notice"><%= notice %></p>
	<% elsif alert %> 	
	    <p class="alert"><%= alert %></p>
	<% end %> 
<%= yield %>

	<footer>
		<a href="https://www.facebook.com/keyholedoughnuts/" target="_blank"><i class="fa fa-facebook-official"></i></a>
		<a href="https://instagram.com/keyholedoughnuts/" target="_blank"><i class="fa fa-instagram"></i></a>
		<a href="http://twitter.com/keyholedoughnut" target="_blank"><i class="fa fa-twitter-square"></i></a>
		<% if user_signed_in? %>
			<%= link_to "sign out", destroy_user_session_path, method: :delete %>
		<% end %>
	</footer>

</body>
</html>
